<form [formGroup]="form">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 m-5">
        <mat-slider min="0" max="100" step="1" discrete thumbLabel [displayWith]="formatLabel">
          <input matSliderThumb #itemQuantity formControlName="quantity">
        </mat-slider>

        
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card d-flex flex-column align-items-stretch h-100">
            <div class="card-body">
              <h5 class="card-title">Neat</h5>
              <p class="card-text">All of the essential features you need to manage treatment plans signing and
                acceptance.</p>
              <hr>
              <p class="card-price">£<span class="price">{{servicePriceNeat}}</span></p>
              <p class="card-price-text">Per Month</p>
              <button class="btn btn-success btn-full-width">Try for 30 days free</button>
              <hr>
              <ul class="service-list">
                <li><span class="tick-mark">&#10003;</span> High quality Samsung Tablet with S-Pen for easy signatures
                </li>
                <li><span class="tick-mark">&#10003;</span> Treatment Plans signing process</li>
                <li><span class="tick-mark">&#10003;</span> Send Treatment plans by email or SMS to the patient</li>
                <li><span class="tick-mark">&#10003;</span> Add forms, notes and additional documents to the Tx Plan
                  package for review and signing</li>
              </ul>
              <button class="btn see_all btn-full-width">See all Features</button>
              <hr>
              <p class="employee-text">First Dentist is <span class="employee-price">£65</span></p>
              <p class="employee-text">Each additional Dentist is <span class="employee-price">£35</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card d-flex flex-column align-items-stretch h-100">
            <div class="card-body">
              <h5 class="card-title">Loaded</h5>
              <p class="card-text">A plan jam-packed with every feature we have to offer. </p> 
              <hr>
              <p class="card-price">£<span class="price">{{servicePriceLoaded}}</span></p>
              <p class="card-price-text">Per Month</p>
              <button class="btn btn-success btn-full-width">Try for 30 days free</button>
              <hr>
              <ul class="service-list">
                <li><span class="tick-mark">&#10003;</span> All features included in Neat</li>
                <li><span class="tick-mark">&#10003;</span> Value Proposition Reinforcement (bespoke and customisable
                  video messages for patients)</li>
                <li><span class="tick-mark">&#10003;</span> Automated Follow up and reminders</li>
                <li><span class="tick-mark">&#10003;</span> Document signing (Treatment and Photography Consents, Bank
                  debit forms, Terms & Conditions, Policies)</li>
                <li><span class="tick-mark">&#10003;</span> Integrations with Finance providers for patient finance</li>
                <li><span class="tick-mark">&#10003;</span> Alerts when Tx Plans are at risk of expiring (alerts sent to
                  the Dental app Dental Diary, as well as to the Patient app)</li>
              </ul>
              <button class="btn see_all btn-full-width">See all Features</button>
              <hr>
              <p class="employee-text">First Dentist is <span class="employee-price">£85</span></p>
              <p class="employee-text">Each additional Dentist is <span class="employee-price">£49</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>