mat-slider {
  width: 100%;
}

.slider-custom {
  padding: 10px 0;
}

.card {
  height: 100%;
  width: 500px;
  display: flex;
  justify-content: center;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-price-extra-large {
  font-size: 2rem;
  color: blue;
}

.card-price-text {
  font-size: 0.9rem;
  margin-top: 0;
}

.card-text {
  margin-bottom: 1rem;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.tick-mark {
  color: green;
}

.list-text {
  padding-left: 10px;
}

.green-button {
  background-color: green;
}



/* mat-slider {
  width: 100%;
}

.card {
  height: 100%;
  width: 500px;
  display: flex;
  justify-content: center;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.card-price-text {
  font-size: 0.9rem;
  margin-top: 0;
}

.card-text {
  margin-bottom: 1rem;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.float-end {
  color: green;
} */
